common_insults.py

# PyCharm
.idea/

# Logs y Cache
PRAC1/PyRO/logs/
PRAC1/PyRO/__pycache__/
PRAC1/PyRO/insult_filter/__pycache__/
PRAC1/PyRO/insult_service/__pycache__/
PRAC1/PyRO/tests/__pycache__/

PRAC1/RabbitMQ/tests/*.png
PRAC1/RabbitMQ/tests/*.csv